body{
    overflow: hidden;
    background-color: #343434;
}

.page{
    margin: auto;
}

.hidden{
    display: none;
}
#wrapper{
    width: 1200px; /*default size*/
    height: 800px; /*default size*/
    margin: auto;
    background-color: lightblue;
}

canvas{
    position: absolute;
    margin: 0 auto;
    background-color: rebeccapurple;
}


#mainMenu_page{
    position: absolute;
    display: none;

    color: white;
}